body {
  margin: 0px;
  padding: 0px;
  min-width: 100vw;
  min-height: 100vh;

  background: url("./assets/photo.webp");
  background-size: cover;

  font-family: "Fira Code", monospace;
  text-shadow: 2px 2px 5px black;
  color: #fff;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 2em;
}

header {
  margin: 1em;

  display: flex;
  flex-direction: column;
  gap: 1em;
}

h1 {
  text-align: center;
  font-size: 2.5em;
  font-weight: normal;
  margin: 0px;
}

nav ul {
  list-style: none;
  margin: 0px;
  padding: 0px;

  font-size: 3em;

  display: flex;
  justify-content: center;
  gap: 1em;
}

nav ul li a {
  color: #fff;
}

nav ul li a:hover {
  color: orange;
}

main {
  margin: 1em;
}

.logo {
  width: auto;
  display: block;
  margin: auto;
  max-height: 75vh;
}

footer {
  margin: 1em;
  text-align: right;
}
