/* * {
  border: #090;
  border-style: dashed;
  border-width: 1px;
} */

body {
  background-color: #333;
  display: block;
  margin: auto;
}

h1 {
  text-align: center;
  color: #fff;
  font-family: "Fira Code";
  font-size: 2.5rem;
  font-weight: normal;
}

.logo {
  width: auto;
  display: block;
  margin: auto;
  text-align: center;
  max-height: 75vh;
}

.custom-menu-wrapper {
  text-align: center;
}

.custom-menu {
  display: inline-block;
}

.custom-menu img {
  height: 4rem;
  margin: 2rem;
}
